section{
    padding: 120px 0;
}

.carousel-caption{
    margin-bottom: 300px;
}

.content-center{
    max-width: 800px;
    margin: 0 auto 60px auto;
    text-align: center;
}
.img-carrusel{
    width: 100%; height: 100%;
}

#footer{
    padding:  80px 0;
    text-align: center;
    color: #ffffff;
}

#footer a{
    color: #ffffff;
}

#footer a:hover{
    color: #ffffff;
    padding: 20px;
}

#footer .list-inline .list-inline-item{
    padding: 10px 15px;
}

.espacio{
    padding: 270px ;
}

.titulo{
    display: inline-block;
}

.escudo2{

 float: right;
}